.ticket-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Upload Section */
.upload-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.upload-section label {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  text-align: left;
  letter-spacing: 0.5px;
}

.upload-area {
  border: 2px dashed #6b5b95;
  border-radius: 12px;
  text-align: center;
  transition: all 0.3s ease;
  background-color: rgba(107, 91, 149, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 95px;
  cursor: pointer;
}

.upload-area:hover {
  border-color: #8b7ba8;
  background-color: rgba(107, 91, 149, 0.15);
}

.upload-area input[type="file"] {
  display: none;
}

.upload-icon {
  width: 25px;
  height: 25px;
  opacity: 0.7;;
  margin-top: -15px;
}

.upload-area > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.upload-area.drag-over {
  background-color: rgba(107, 91, 149, 0.3);
  border-color: #7d6fa8;
  transform: scale(1.02);
}

.upload-area p {
  color: #b0a4c8;
  font-size: 12px;
  letter-spacing: 0.3px;
  margin-top: -5px;
}


.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-preview {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 12px;

}
.delete-btn {
  color: hsl(245, 15%, 58%);
  background-color: rgba(107, 91, 149, 0.1);
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.3rem;
  font-size: 0.55rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-top: -0.5rem;
}

.delete-btn:active {
  transform: scale(0.95);
}

.hint {
  font-size: 12px;
  color: #9d91b5;
  margin: 0.5rem 0 0 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
