body {
  font-family: 'Inconsolata', monospace;
}

.hero {
  background-image: 
    url("images/pattern-circle.svg"),
    url("images/pattern-lines.svg"),
    url("images/background-desktop.png");
  background-size: 180px, auto, cover;
  background-repeat: no-repeat;
  background-position: 70% center, center, center;
  height: 120vh;

}

.hero-overlay {
  background-image:  url("images/pattern-squiggly-line-top.svg"),
    url("images/pattern-squiggly-line-bottom-desktop.svg");
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  height: 100%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  padding-top: 30px;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  color: #ffffff;
  margin-top: 30px;
}

.hero-paragraph {
  font-weight: 400;
  font-size: 0.8rem;
  color: hsl(252, 6%, 83%);
  margin: 20px 0 0 0;
  padding: 0 20px;
}